.mt-2{margin-top:8px!important;}
.mb-2{margin-bottom:8px!important;}
.mt-4{margin-top:24px!important;}
.mt-6{margin-top:40px!important;}
.mb-6{margin-bottom:40px!important;}
.p-6{padding:40px!important;}
body{margin:0;}
a{background-color:transparent;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
button{text-transform:none;}
*{box-sizing:border-box;}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";font-size:14px;line-height:1.5;color:var(--color-text-primary);background-color:var(--color-bg-canvas);}
a{color:var(--color-text-link);text-decoration:none;}
a:hover{text-decoration:underline;}
button{cursor:pointer;border-radius:0;}
h2{font-size:24px;font-weight:600;}
h4{font-size:16px;font-weight:600;}
p{margin-top:0;margin-bottom:10px;}
.btn{position:relative;display:inline-block;padding:5px 16px;font-size:14px;font-weight:500;line-height:20px;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-ms-user-select:none;user-select:none;border:1px solid;border-radius:6px;-webkit-appearance:none;appearance:none;}
.btn:hover{text-decoration:none;}
.btn:disabled{cursor:default;}
.btn{color:var(--color-btn-text);background-color:var(--color-btn-bg);border-color:var(--color-btn-border);box-shadow:var(--color-btn-shadow),var(--color-btn-inset-shadow);transition:0.2s cubic-bezier(0.3, 0, 0.5, 1);transition-property:color, background-color, border-color;}
.btn:hover{background-color:var(--color-btn-hover-bg);border-color:var(--color-btn-hover-border);transition-duration:0.1s;}
.btn:active{background-color:var(--color-btn-active-bg);border-color:var(--color-btn-active-border);transition:none;}
.btn:disabled{color:var(--color-text-disabled);background-color:var(--color-btn-bg);border-color:var(--color-btn-border);}
.btn:focus{border-color:var(--color-btn-focus-border);outline:none;box-shadow:var(--color-btn-focus-shadow);}
.btn-outline{color:var(--color-btn-outline-text);}
.btn-outline:hover{color:var(--color-btn-outline-hover-text);background-color:var(--color-btn-outline-hover-bg);border-color:var(--color-btn-outline-hover-border);box-shadow:var(--color-btn-outline-hover-shadow),var(--color-btn-outline-hover-inset-shadow);}
.btn-outline:active{color:var(--color-btn-outline-selected-text);background-color:var(--color-btn-outline-selected-bg);border-color:var(--color-btn-outline-selected-border);box-shadow:var(--color-btn-outline-selected-shadow);}
.btn-outline:disabled{color:var(--color-btn-outline-disabled-text);background-color:var(--color-btn-outline-disabled-bg);border-color:var(--color-btn-border);box-shadow:none;}
.btn-outline:focus{border-color:var(--color-btn-outline-focus-border);box-shadow:var(--color-btn-outline-focus-shadow);}
::placeholder{color:var(--color-text-placeholder);opacity:1;}
.border{border:1px solid var(--color-border-primary)!important;}
.rounded-2{border-radius:6px!important;}
.flex-column{flex-direction:column!important;}
.flex-justify-center{justify-content:center!important;}
.flex-items-center{align-items:center!important;}
.height-full{height:100%!important;}
.mr-2{margin-right:8px!important;}
.text-center{text-align:center!important;}
.d-flex{display:flex!important;}
.mt-3{margin-top:16px!important;}
.py-6{padding-top:40px!important;padding-bottom:40px!important;}
/*! CSS Used from: http://localhost:3000/probot/static/primer.css */
body{margin:0;}
h1{font-size:2em;margin:0.67em 0;}
h1,h4{margin-top:0;margin-bottom:0;}
h1{font-size:32px;font-weight:600;}