name: CI

on:
  push:
    branches:
      - master
      - "greenkeeper/**"

  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    strategy:
      matrix:
        node-version: [10.x, 12.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build
    - run: npm test
    - name: codecov
      run: npx codecov
      # run codecov only once
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == '12.x'
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
