name: Release
on:
  push:
    branches:
      # https://github.blog/changelog/2020-07-22-github-actions-better-support-for-alternative-default-branch-names/
      - $default_branch
      - next
      - beta
      - "*.x" # maintenance releases such as 15.x

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run build
      - run: npx semantic-release --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
